* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
}
.main-nav-header {
  background-color: black;
}
h1 {
color: white;
font-size: 28;
font-family: 'Varela Round', sans-serif;
margin: 20px;
}
.logo_spotify{
  font-size: 30px;
}
.main-nav-header li a{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: grey;
  text-decoration: none;
}
.display_flex{
  margin: 10px;
  display: flex;
  align-items: center;
}
.main-nav-header li img {
  font-size: 20px;
  margin: 10px;
  width: 25px;
}
.main-nav-header li a:hover {
  color: white;
}
.main-nav-header li:hover {
  border-left: 2px solid green;
}
/* nav-header */
/* nav-main */
h2{
  color: white;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 0;
}
.playlist a i{
  font-size: 30px;
  color: lightgrey;
  vertical-align: middle;
}
.playlist a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}
.playlist p a:hover {
  color: white;
}
.playlist p a i:hover {
  color: white;
}

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: black;
}
.playlist {
  list-style: none;
  padding: 10px 20px;
  background: black;
}
.playlist li {
  color: grey;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 0;
}
.playlist li:hover {
  color: white;
}
/* nav main */
/* main nav footer */
.main-nav-footer {
  background-color: black;
  padding: 10px;
}
.main-nav-footer .riga  {
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  border-bottom: 2px solid grey;
}
.main-nav-footer a {
  text-decoration: none;
  color: grey;
}
.main-nav-footer a i {
  margin: 10px 5px;
}
.main-nav-footer P a:hover {
  color: white;
}
.main-nav-footer img {
  margin: 6px;
  width: 20px;
  border-radius: 10px;
  background: grey;
}
.nome-utente {
  margin: 10px 0;
  color: white;
  display: flex;
  align-items: center;
}
/* main nav footer */

/* main content */
.main-content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #161826;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.btn {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 5px 30px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.5s;
  margin-right: 18px;
}
.btn:hover {
  transform: scale(1.1);
}
.nav_main_content {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
}
.nav_main_content li {
  list-style: none;
  padding: 10px;
}

.nav_main_content li a{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  color: grey;
  font-weight: bold;
}
.nav_main_content li a:hover {
  color: white;
}
/* .nav_main_content li:first-of-type {
  border-bottom: 2px solid green;
} */
h3 {
  color: white;
  padding: 15px;
  font-family: 'Varela Round', sans-serif;
}
h4 {
  color: white;
  width: 200px;
  padding: 15px ;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
.content_main_flex img {
  width: 200px;
}
.box {
  list-style: none;
  padding: 15px;
}
.content_main_flex {
  display: flex;
}
.content_main_flex .box p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  color: grey;
  font-family: 'Varela Round', sans-serif;
}
.sotto_h3{
  color: grey;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  padding: 5px 15px;
}
.border_radius_img {
  border-radius: 150px;
}


/* footer */
.footer {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #2d2c2c;
}
.left {
  display: flex;
  padding: 30px 10px;
  width: 45px;
  height: 90px;
}
.left img {
  width: 40px;
  height: 40px;
}
.Nome_brano {
  padding: 35px 10px;
  width: 80px;
}
h5 {
  color: white;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
.Nome_brano p {
  color: grey;
  font-size: 10px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
.Nome_brano p:hover {
  color: white;
  text-decoration: underline;
}
.icone {
  padding: 40px 10px;
  width: 90px;
}
.icone a i {
  color: grey;
  padding: 0px 2px;
}
.icone a i:hover {
  color: white;
  transform: scale(1.2);
}

.center {
  text-align: center;
  width: 130em;
}
.button_time {
  padding: 12px;

}
.button_time a {
  color: white;
  padding: 10px;
  font-size: 12px;
}
.button_time a i:hover {
  transform: scale(1.2);
}
.big {
  font-size: 25px;
}
.right {
  width: 30%;
}
.time {
  display: flex;
  justify-content: center;
}
.line_time{
  width: 500px;
  padding: 5px 0px;
  border-bottom: 3px solid grey;
  border-radius: 2px;
}
.numero {
  color: white;
  font-size: 10px;
  padding: 0px 25px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
