* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
}
.main-nav-header {
  background-color: black;
}
h1 {
color: white;
font-size: 28;
font-family: 'Varela Round', sans-serif;
margin: 20px;
}
.logo_spotify{
  font-size: 30px;
}
.main-nav-header li a{
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: grey;
  text-decoration: none;
}
.display_flex{
  margin: 10px;
  display: flex;
  align-items: center;
}
.main-nav-header li img {
  font-size: 20px;
  margin: 10px;
  width: 25px;
}
.main-nav-header li a:hover {
  color: white;
}
.main-nav-header li:hover {
  border-left: 2px solid green;
}
/* nav-header */
/* nav-main */
h2{
  color: white;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 0;
}
.playlist a i{
  font-size: 30px;
  color: lightgrey;
  vertical-align: middle;
}
.playlist a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}
.playlist p a:hover {
  color: white;
}
.playlist p a i:hover {
  color: white;
}

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: black;
}
.playlist {
  list-style: none;
  padding: 10px 20px;
  background: black;
}
.playlist li {
  color: grey;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  margin: 10px 0;
}
.playlist li:hover {
  color: white;
}
/* nav main */
/* main nav footer */
.main-nav-footer {
  background-color: black;
  padding: 10px;
}
.main-nav-footer .riga  {
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  border-bottom: 2px solid grey;
}
.main-nav-footer a {
  text-decoration: none;
  color: grey;
}
.main-nav-footer a i {
  margin: 10px 5px;
}
.main-nav-footer P a:hover {
  color: white;
}
.main-nav-footer img {
  margin: 6px;
  width: 20px;
  border-radius: 10px;
  background: grey;
}
.nome-utente {
  margin: 10px 0;
  color: white;
  display: flex;
  align-items: center;
}
/* main nav footer */

/* main content */
.main-content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #161826;
  overflow-y: scroll;
}
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.btn {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 5px 30px;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.5s;
  margin-right: 18px;
}
.btn:hover {
  transform: scale(1.1);
}
.nav_main_content {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 120px;
}
.nav_main_content li {
  list-style: none;
  padding: 10px;
}

.nav_main_content li a{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  color: grey;
  font-weight: bold;
}
.nav_main_content li a:hover {
  color: white;
}
/* .nav_main_content li:first-of-type {
  border-bottom: 2px solid green;
} */
h3 {
  color: white;
  padding: 15px;
  font-family: 'Varela Round', sans-serif;
}
h4 {
  color: white;
  width: 200px;
  padding: 15px ;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
.content_main_flex img {
  width: 200px;
}
.box {
  position: relative;
  list-style: none;
  padding: 15px;
}
.box:hover .play_hover {
  display: block;
}
.content_main_flex {
  display: flex;
  flex-wrap: wrap;
}
.play_hover {
  position: absolute;
  top: 15px;
  display: none;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}
.play_hover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  font-size: 40px;
}
.hover_border {
  border-radius: 100%;
}
.content_main_flex .box p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  color: grey;
  font-family: 'Varela Round', sans-serif;
}
.sotto_h3{
  color: grey;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  padding: 5px 15px;
}
.border_radius_img {
  border-radius: 150px;
}


/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
​
}
/* primo div footer */
.canzone-footer {
  display: flex;
  justify-content:flex-start;
  align-items: center;
​
}
​
​
#icona_canzone {
  width: 15%;
  padding: 10px;
}
.foto_canzone {
  width: 15%;
  padding: 10px;
}
.canzone-footer img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.canzone-footer h5 {
  color: white;
  font-size: 0.8em;
}
.canzone-footer a {
  text-decoration: none;
  color: #3A3A3A;
}
.canzone-footer .fas {
  margin-left: 20px;
}
.canzone-footer .fas:hover{
  color: white;
}
@media screen and (max-width:639px) {
  .canzone-footer i {
    width: 100%;
   }
  .canzone-footer h4{
    font-size: 0.6em;
   }
  .canzone-footer a{
    font-size: 0.6em;
   }
}
/* /primo div footer */

/* playfooter */
.play-footer {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
​#tasto_play {
  display: flex;
  justify-content:
}
.prova {
  display: flex;
  justify-content: center;
}
.prova i {
  padding: 10px;
  color: white;
}
.prova i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.play-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.play-time p {
  color: #3A3A3A;
}
.bar-time {
  width: 65%;
  margin: 10px;
  height: 3px;
  background-color: white;
}
.bar-time-opacity{
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 30%;
  position: relative;
}
.bar-time:hover {
  cursor: pointer;
  background-color: lime;
}
.bar-time:hover .bar-time-opacity{
  background-color: rgba(0, 0, 0, 1);
}
.bar-time-opacity i {
  color: white;
  position: absolute;
  top:-5px;
  left:0;
  display: none;
}
 .bar-time:hover .bar-time-opacity i{
   display: block;
 }
/* /play footer */
/* opzioni footer */
.footer_nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_nav_right ul {
  display: flex;
}
.footer_nav_right ul li {
  list-style: none;
  flex-direction: row;
}
.footer_nav_right i {
  color: white;
  padding: 5px;
  font-size: 0.8em;
}
.footer_nav_right i:hover{
  transform: scale(1.2);
}
.volume {
  height: 3px;
  width: 60px;
  background: white;
  margin: 5px;
  margin-right: 10px;
}
.opacity-volume {
  width: 48%;
  height: 100%;
  margin-left: 62%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.opacity-volume i {
  color: white;
  position: absolute;
  top:-10px;
  left:0;
  display: none;
}
.volume:hover{
  cursor: pointer;
  background-color: lime;
}
.volume:hover .opacity-volume{
  background-color:rgba(0, 0, 0, 1);
}
.volume:hover .opacity-volume i{
  display: block;
}

@media screen and (max-width: 560px) {
  .display_none_xs {
    display: none;
  }
  .main-nav-footer .riga {
    border-bottom: 0px solid ;
  }
  .main-nav {
    width: 90px;
  }
  .main-content {
    width: calc(100% - 90px);
  }
  .call-to-action {
    width: calc(100% - 90px);
  }
}
@media screen and (min-width: 560px) {
  .display_none_lg {
    display: none;
  }
}
